<%- include("Header")-%>

<body>

    <section id="header">

        <div class="main-info row">
            <div class="col-lg-6 col-md-12 order-2 order-sm-2 order-md-1 order-lg-1">

                <p class="time"> <%= dateOfDay %></p>
                <p class="info-uzivatel">OSOBNÍ ČÍSO: <span class="info-added"> <%= userNumber %> </span></p></p>
                <p class="info-uzivatel">JMÉNO & PŘIJÍMENÍ: <span class="info-added"> <%= userName %> </span></p>
                <p class="info-uzivatel">ODDĚLENÍ: <span id="departmentInfo" class="info-added"> <%= userClass %> </span></p>
                

            </div>

            <div class="col-lg-6 col-md-12 name-logo order-1 order-sm-1 order-md-2 order-lg-2">

                <h1>DOCHÁZKOVÝ INFORMAČNÍ SYSTÉM</h1>
                <p class="firma">FPC s.r.o.</p>

              
                <button type="button" class="btn tlacitko" data-toggle="modal" data-target="#userInputData" data-whatever="@getbootstrap">Nový Uživatel</button>

                <div class="modal fade" id="userInputData" tabindex="-1" role="dialog" aria-labelledby="buttonLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content window-border">
                        <div class="modal-header">
                            
                            <h5 class="modal-title" id="buttonLabel">Nový uživatel</h5>
                            
                        </div>
                    
                        <div class="modal-body">
                            <form action="/" method="POST">

                                <div class="form-group">
                                  <label for="personalID">Osobní číslo</label>
                                  <input type="number" name="userNumber" class="form-control" placeholder="vložte osobní čislo">
                                </div>

                                <div class="form-group">
                                    <label for="jmenoPrijimeni">Jméno & Přijímení</label>
                                    <textarea class="form-control" name="userName"  rows="1" placeholder="Jméno a Přijímení"></textarea>
                                  </div>

                                <div class="form-group">
                                  <label for="workingPlace">Vyberte oddělení</label>
                                  <select name="userDepartment" class="form-control" >
                                    <option>Obchod</option>
                                    <option>Konstrukce</option>
                                    <option>Mechanická Dílna</option>
                                    <option>Výroba ( ED ) </option>
                                    <option>QC</option>
                                  </select>
                                </div>

                                <div class="modal-footer">

                                    <button type="button" class="btn tlacitko-close" data-dismiss="modal">Zrušit</button>
                                    <button type="submit" class="btn tlacitko-potvrdit" >POTVRDIT</button>

                                </div>
                                
                            </form>
                        </div>

                        
                    
                    </div>
                </div>
                </div>

                
                
            </div>
         </div>
    </section>

    <section id="calendar">
        <div class="row">
            <div class="col-lg-6">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2" class="souhrn-informaci">SOUHRN INFORMACÍ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="souhrn-rozdeleni">
                            <td>PŘESČAS: </td>
                            <td class="souhrn-timeInfo" > <%= overTimeShow %> </td>
                        </tr>
                        <tr class="souhrn-rozdeleni">
                            <td>POČET DOVOLENÉ TENTO MĚSÍC: </td>
                            <td class="souhrn-timeInfo" > <%= holidayTimeShow %>  </td>
                        </tr>
                        <tr class="souhrn-rozdeleni">
                            <td>NÁVŠTĚVA LÉKAŘE TENTO MĚSÍC: </td>
                            <td class="souhrn-timeInfo" > <%= medicalVisitsShow %> </td>
                        </tr>
                        <tr class="souhrn-rozdeleni">
                            <td>PRACOVNÍ DNY TENTO MĚSÍC: </td>
                            <td class="souhrn-timeInfo" > <%= workDaysShow %> </td>
                        </tr>
                        <tr class="souhrn-rozdeleni">
                            <td>ODPRACOVÁNO DNÍ: </td>
                            <td class="souhrn-timeInfo" > <%= remainingDaysShow %>  </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>

            <div class="col-lg-6 calendar-position d-none d-lg-block table-responsive">
                <table class="table table-sm">
                    <tbody>

                        
                        <tr>
                            <td class="position-text">DATUM</td>
                            <td class="position-text">DEN</td>
                            <td class="position-text">PŘÍCHOD</td>
                            <td class="position-text">ODCHOD</td>
                            <td class="position-text">ODPRACOVÁNO</td>
                            <td class="position-text">POZNÁMKY</td>
                        </tr>

                        <% for ( var i=0; i<month; i++) { %>
                    
                            <tr class="tabulka-select">
                                <td> <%= presenceShow[i].date %></td>
                                <td> <%= presenceShow[i].day %>  </td>
                                <td> <%= presenceShow[i].start %> </td>
                                <td> <%= presenceShow[i].end %>  </td>
                                <td> <%= presenceShow[i].time %> </td>
                                <td> <%= presenceShow[i].reason %>  </td>
                            </tr>

                        <% } %>

                       

                    </tbody>
                </table>
                
            </div>
         </div>
        


    </section>

 
    <%-include("Footer")-%>    

        

</body>
</html>